.idea/*
**/.ipynb_checkpoints/*
**/__pycache__/*.pyc
data/*
dataFinish/*
log/*
views/docs
node_modules
npm-debug.log
**/.DS_Store
public/labConfigs/*
!/public/labConfigs/labConfigs.md
shieldLog/*
oncalltoollog/*
mockData/*

